@model PetServices_MVC.Models.AdoptablePetsModels.AdoptablePetDetail

@{
    ViewData["Title"] = "Pet Details";
}

<h1>Pet Details</h1>
<hr />

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Id)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PetType)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.PetType.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.AdoptionStatus)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.AdoptionStatus)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Age)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Age)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Weight)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Weight)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.DateRegistered)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.DateRegistered)
    </dd>
</dl>
