
@model IEnumerable<PetServices_MVC.Models.PetModels.PetListItem>

    @{
        ViewData["Title"] = "Pet Index";
    }

<h1> Pet Index</h1>
<p>
    @Html.ActionLink("Add New Pet", "Create")
</p>

@*<form asp-action="Index" method="post">
    <div class="form-group">
        <label value="Name" class="control-label"></label>
        <input value="Name" id="name" class="form-control" />
    </div>
    <div class="form-group">
        <input onclick="processSearch" value="Filter" class="btn btn-primary" />
    </div>
</form>*@

<table class="table" id="tblData"> 
    <thead>
        <th> @Html.DisplayNameFor(model => model.Id)</th>
        <th> @Html.DisplayNameFor(model => model.Name)</th>
        <th> @Html.DisplayNameFor(model => model.PetType)</th>
        <th> @Html.DisplayNameFor(model => model.CurrentService)</th>
        <th>  </th>
        <th>  </th>
        <th>  </th>
    </thead>
    @*<tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td> @Html.DisplayFor(modelItem => item.Id)</td>
                <td> @Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.PetType.Name)</td>
                <td> @Html.DisplayFor(modelItem => item.CurrentService.Name)</td>
                <td> @Html.ActionLink("Details", "Details", "Pet", new {id = item.Id})</td>
                <td> @Html.ActionLink("Edit", "Edit", "Pet", new {id = item.Id})</td>
                <td> @Html.ActionLink("Delete", "Delete", "Pet", new {id = item.Id})</td>

            </tr>
        }
    </tbody>*@
</table>
@section Scripts{

<script src="~/js/pets.js">
        
</script>
}